.libraryCardDisplay {
  border: 5px groove brown;
}

.libraryCard {
  border: 1px solid pink;
}

/* .modal {
  display: none;
  position: fixed;
  z-index: 200;
  top: 40%;
  left: 40%;
  width: 20%;
  background: white;
  -webkit-box-shadow: 1px 1px 6px rgba(0,0,0, .4);
  box-shadow: 1px 1px 6px rgba(0,0,0, .4);
  padding: 1rem;
 } */